.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fc;
  color: #333;
  padding: 0 10px;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #7d0dc7;
  margin-bottom: 20px;
  text-transform: uppercase;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b96e19;
}

.profile {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: left;
  margin-top: 20px;
  transform: translateY(10px);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.profile h2 {
  font-size: 1.8rem;
  color: #914ae2;
  margin-bottom: 10px;
}

.profile img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.profile p {
  font-size: 1.1rem;
  color: #c30c0c;
  line-height: 1.6;
}

.profile p strong {
  color: #6f12cd;
}

.time-since {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #777;
  font-weight: bold;
}

/* Fade-in animation for profile */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .profile {
    width: 90%;
  }
  h1 {
    font-size: 2rem;
  }
  button {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

